absl-py
affine
appnope
asttokens
attrs
branca
certifi
charset-normalizer
click
click-plugins
cligj
comm
contourpy
cycler
debugpy
decorator
executing
fiona
folium
fonttools
geopandas
idna
immutabledict
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multipledispatch
nest-asyncio
networkx
numpy
ortools
osmnx
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
pytz
pyzmq
rasterio
requests
rtree
scipy
shapely
six
stack-data
sympy
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
xyzservices